<!-- app/src/debug/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.androdr.debug.ScanBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.androdr.ACTION_SCAN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
